html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    @extend %dssans-700;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

a {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    color: $text;
}

.btn-box{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
    border: none;
    background-color: #a3bbc8; 
    &__descr {
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: #ffffff;
    }
}

.title {
    text-align: center;
    @extend %dssans-700;
    font-size: 36px;
    line-height: 1.2;
    color: #191919;
    margin-bottom: 40px;
}