$accent: #585858;
$title:#243f4d;
$bgcplashki: #fcd7b6;
$text: #7b7b7b;

%dssans-400 {
    font-family: 'DMSans-Regular';
    font-weight: 400;
}

%dssans-500 {
    font-family: 'DMSans-Medium';
    font-weight: 500;
}

%dssans-700 {
    font-family: 'DMSans-Bold';
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik-Regular';
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}